.ventana-carrito {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(10, 10, 30, 0.8);
    flex-direction: column;
    align-items: center;
    position: fixed;
    visibility: hidden;
    width: 350px;
    top: 0;
    right: 0;
    transform: translate(100%);
    height: 100%;
    z-index: 20;
    padding: 5px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
    color: white;
}

.ventana-carrito.abierta {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.boton-carrito {
    background-color: rgb(28, 114, 50);
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(45, 141, 33);
    width: 50px;
    height: 50px;
    border-radius: 200%;
}

.ventana-carrito li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    margin: 2px;
    background-color: rgb(255, 211, 154);
    border: 2px solid rgb(136, 120, 85);
    border-radius: 10px;
    gap: 5px;
    color: black;
}

.ventana-carrito ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    gap: 5px;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    flex: 1;
}



.boton-SM-ventana {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.bton-eliminar {
    background-color: brown;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.flecha-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 80px;
}

.img-carrito {
    object-fit: contain;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.control-cantidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cantidades {
    display: flex;
    gap: 5px;
}

.info-prodc-carrito {
    flex: 1;
}

.info-prodc-carrito p {
    margin: 0;
    font-size: 15px;
    color: black;
}