
.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background: linear-gradient(to bottom, rgb(114, 105, 28) 0%, rgba(12, 12, 12, 0) 100%);*/
    background: linear-gradient(to bottom, var(--color-dinamico, rgb(114, 105, 28)) 0%, rgba(12, 12, 12, 0) 100%);
    /* negro semi-transparente */
    height: 80px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    color: white;
}

.list-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    padding: 0;
}

a.active {
    color: green;
    font-weight: bold;
    transform: scale(1.08);

}

a {
    display: inline-block;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

a:hover {
    transform: scale(1.08);
}

.list-header h1,
.list-header ul,
.list-header .carrito {
    flex: 1;
}

.list-header .carrito {
    display: flex;
    justify-content: flex-end;
}

.bton-carrito {
    background-color: rgb(28, 114, 50);
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(45, 141, 33);
    border: none;
    cursor: pointer;
}