@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+DE+SAS:wght@100..400&family=Quicksand:wght@300..700&display=swap');

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(10, 10, 30, 0.849), rgba(10, 10, 30, 0));
    height: 80px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    color: white;
}

.list-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    padding: 0;
}

.h1-header {
    font-family: "Playwrite DE SAS", cursive;
    color: #d3c6bd;
}

a.active {
    color: #31b458;
    font-weight: bold;
    transform: scale(1.08);

}

a {
    display: inline-block;
    color: #d3c6bd;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
}

a:hover {
    transform: scale(1.08);
    color: white;
}

.list-header h1,
.list-header ul,
.list-header .carrito {
    flex: 1;
}

.list-header .carrito {
    display: flex;
    justify-content: flex-end;
}

.list-header li {
    font-family: "PT Serif", serif;
    font-weight: 500;
    font-style: italic;
}

.bton-carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #4a7c59;
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    gap: 4px;
}

.contador-carrito {
    font-size: 14px;
    font-weight: bold;
}

.icono-carrito {
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    fill: rgb(145, 144, 144);
}
