.Detail-Container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/img-ItemDetail.jpg');
    background-attachment: fixed;
    /*la imagen de fondo queda fija en la pantalla mientras scrolleás. El contenido se mueve pero el fondo no.*/
    background-size: cover;
    /*estira la imagen para que cubra toda la pantalla sin dejar espacios en blanco*/
    background-position: center;
    /*centra la imagen en la pantalla*/
    background-repeat: no-repeat;
    /* evita que la imagen se repita en mosaico si es más chica que la pantalla*/
    background-attachment: fixed;
    /* la imagen queda fija mientras scrolleás, el contenido pasa por encima pero el fondo no se mueve*/
    min-height: 100vh;
    margin-top: -80px;
}

.Detail-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas iguales */
    color: tomato;
    gap: 40px;
    /* Espacio entre imagen y texto */
    max-width: 1000px;
    /* Evita que en pantallas muy anchas se separen demasiado */
    width: 90%;
    /* Margen de seguridad para celulares */
    place-items: center;
    /* Centra los hijos dentro de cada columna */
}

.p-datail {
    color: white;
    text-align: center;
    font-size: 17px;
    text-shadow: 0 0 8px rgb(0, 0, 0);

}

h3,
h1 {
    padding: 0;
    margin: 0;
    text-shadow: 0 0 8px rgb(0, 0, 0);

}

img {
    height: auto;    /* Mantiene la proporción para que no se estire */
    object-fit: cover;
    aspect-ratio: 1 / 1; /* Asegura que siga siendo un círculo perfecto */
    border-radius: 50%;
    max-width: 100%; /* No puede ser más ancha que su columna */
    width: 450px;
    border-radius: 50%;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}