.Detail-Container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/img-ItemDetail.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: -80px;  
}

.Detail-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #8db596;
    gap: 40px;
    max-width: 1000px;
    width: 90%;
    place-items: center;
}
.fila-abajo {
    grid-column: 1 / -1;
}

.p-datail {
    color: white;
    text-align: center;
    font-size: 17px;
    text-shadow: 0 0 8px rgb(0, 0, 0);

}

.boton-detail-items{
    font-size: 15px;
    font-weight: 600;
    color: #fde5d0;
    background-color: rgb(34, 41, 100);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    transition: 0.3s;
    margin-top: 10px;
}
.boton-detail-items:hover{
    color: #fde5d0;
    background-color: rgb(29, 29, 110);
}

.sub-titulo-detail {
    padding: 0;
    margin: -2px;
    text-shadow: 0 0 8px rgb(0, 0, 0);
    color: #f7c98e;;
}

.h1-detail {
    color: #f7c98e;
}

img {
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    width: 450px;
    border-radius: 50%;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
    margin: 10px;
    
}

.grid-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}